#population table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/*jegoheu*/

#population th, #population td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

#population th {
    background-color: #444;
    color: #00ff00;
}

#population tr:nth-child(even) {
    background-color: #222;
}

#resultats {
    background-color: #222;
    border: 1px solid #555;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
